$font1: "'Russo One', sans-serif";
$font2: "'Oswald', sans-serif;";
$color1: #149414;
$width-input: 30%;
$radius: 10px;
$padding: 1%;
$separation: 2%;
//===============================//
.center{
    margin-left: auto;
    margin-right: auto;
}

//===============================//
header{
    font-family: $font1;
    color: $color1;
    background-color: black;
    border-radius: $radius;
    padding: $padding;
    margin-bottom: $separation;
}
//===============================//
body{
    background-image: url('https://i.ytimg.com/vi/D_OPcPXlI7g/maxresdefault.jpg');
    background-size: 80%;
}
 //===============================//
#mainSection{
    font-family: $font2;
    padding: $padding;
    margin: $separation;
    background-color: rgba(255, 255, 255, 0.219);
    box-sizing: border-box;


    h6{
        font-size: 24px;
    }

    input{
        padding: $padding;
        margin-bottom: $separation;
        text-align: center;
        border-radius: $radius;
        border-style: none;
    }

    #lb-since,#lb-until{
        width: 60px;
    }



    //===============================//
    #personalDataSection{
        input{
            width: $width-input;
        }
    }
    //===============================//


    //===============================//
    #workExperienceSection{

        padding: $padding;
        input{
            width: 100%;
            height: 100%;
        }label{
            font-size: 24px;
            color: white;   
            height: 30px;
          
        }
        div{
            padding: $padding;
        }
    }

    //===============================//
    #skillsSection{
        box-sizing: border-box;
        padding: $padding;
        font-family: $font2;

        input{
            width: 100%;
            height: 100%;
        }

        #range{
            background-color: white;            
            border-radius: $radius;
            padding-top: $padding;
            padding-bottom: $padding;
            transition-duration: 0.5s;
        }#range:hover{
            background-color: transparent;
            color: white;
            transform: scale(1.05);
        }

        #lvl-value{
            position: absolute;
            margin: -10px;
        }

    }
 //===============================//
    .button{
        border-style: none;
        margin: $separation;
        border-radius: $radius;
        height: 40px;
        width: 40px;
        transition-duration: 0.5s;
    }.button:hover{
        background-color: rgba(0, 0, 0, 0.171);
        color: white;
        animation-name: headShake;
        animation-duration: 1s;
    }

    #removeWorkExp{background-color: #333;color: white;}
    #removeWorkExp:hover{
        background-color: #222;color: rgba(255, 0, 0, 0.52);
    }

    #createpcc{
        border-style: none;
        border-radius: 25px;
        width: 120px;
        height: 60px;
        transition-duration: 0.5s;
    }#createpcc:hover{
        transform: scale(1.1);
    }
}

.newDiv{
    background-color:white;
    color: #444;
    border-radius: $radius;
    font-family: $font2;
    margin: $separation;
    font-size: 20px;
}



@keyframes zoom{
    from{font-size: 10px;}
    to{font-size: 20px;}
}

.red{
    border-style: none;
    border-radius: $radius;
    background-color: rgba(0, 0, 0, 0.109);
    padding: $padding;
    color: red;
    animation-name: zoom;
    animation-duration: 0.8s;
}
.blue{
    border-style: none;
    border-radius: $radius;
    background-color: rgba(0, 0, 0, 0.109);
    padding: $padding;
    color: blue;

}
.gray{
    border-style: none;
    border-radius: $radius;
    background-color: rgba(0, 0, 0, 0.109);
    padding: $padding;
    color: gray;

}

.cred{color: red;}.cblue{color: blue;}.cgray{color: gray;}

.separator{
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.315);
    margin: $separation;
}

footer{
    margin-top: $separation;
    color: $color1;
}